# videos
*.mp4
*.avi

# audio

# runnable python
*.pyc

# config
video_processing/config.py

# 
**/__pycache__/
**/_DS_Store/

data.txt

.vscode

# saved models
*.pickle

# All features extracted
*.npy

All .DS_Store files
*.DS_Store

# SceneDetect Module output files
*.csv

*.rar
*.zip
data.txt
data/
.ipynb_checkpoints/

# Dependencies
/node_modules
